<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content" id="content">              
        <svg id="svgElement" width="580" height="400" xmlns="http://www.w3.org/2000/svg">
            <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
            <g>
             <title>background</title>
             <rect fill="#fff" id="canvas_background" height="402" width="582" y="-1" x="-1"/>
             <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
              <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
             </g>
            </g>
            <g>
             <title>Layer 1</title>
             <path id="svg_1" d="m115.5,130.5c23,-90.50276 295.54144,-13.5 353,-13.5c57.45856,0 -40,120.99724 -40,160.5c0,39.50276 -203.54144,55.5 -210,2.5c-6.45856,-53 -126,-58.99724 -103,-149.5z" stroke-linecap="undefined" stroke-linejoin="undefined" stroke-width="1.5" stroke="#000" fill="#fff"/>
            </g>
        </svg>
    </div>
</body>
</html>
